@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Open Tree on TopNavBar to test the scaffolding.
    </p>
    <p>
        Dont forget to execute the script
    </p>
    <p>
        Read readme.md file first
    </p>
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
